/*! IPSC app v1.0.0 | WTFPL License */

body {
    font-family: Verdana, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}


.ipsc-app--header-main {
    margin-bottom: 72px;
}


/** DRILLS **/
.ipsc-trainings--drill header {
    margin-bottom: 24px;
}

.ipsc-trainings--drill header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.ipsc-trainings--drill form input[type="number"] {
    height: 28px;
    box-sizing: border-box;
}

.ipsc-trainings--drill form input[type="range"] {
    width: 90%;
}

.ipsc-trainings--drill form button {
    height: 40px;
    padding: 0 12px;
    font-weight: bold;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s ease;
}

.ipsc-trainings--drill form button.active,
.ipsc-trainings--drill form button:hover {
    color: #fff;
    background-color: #333;
}

.ipsc-trainings--drill form button:focus {
    outline: none;
}


/** HELPERS **/
.ipsc-content {
    width: 1170px;
}

@media (max-width: 1169px) {
    .ipsc-content {
        width: 960px;
    }
}

@media (max-width: 959px) {
    .ipsc-content {
        width: 768px;
    }
}

@media (max-width: 767px) {
    .ipsc-content {
        width: 100%;
    }
}

.ipsc-content--box-centered {
    margin-left: auto;
    margin-right: auto;
}

.ipsc-content--box-contetn {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
}

.ipsc-text--centered {
    text-align: center;
}